<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
  <!-- Header Section -->
  <header class="fixed">
    <a href="/" style="text-decoration:none; color:black">Shubham Tomar</a>
    <p style="font-size:16pt"> 
      Independent Consultant, Data Scientist
    </p>
    <div class="nav-links">
      <a class="nounderline" href="/about">About</a> /
      <a class="nounderline" href="/categories">Categories</a> /
      <a class="nounderline" href="/twitter">Twitter</a>
    </div>      
  </header>

  <!-- Spacer to offset fixed header -->
  <div class="spacer" style="height: 100px;"></div>

  <!-- Main Content -->
  <main>
    <!-- Page-Specific Content -->
    <div class="content">
      {{ content }}
    </div>

    <!-- Posts Section -->
    <div class="posts">
        <ul class="post-list">
          {% for post in site.posts %}
            <li class="post-item">
              <span class="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </span>
              <span class="post-date">
                {{ post.date | date: "%B %d" }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>      
  </main>

  <!-- Footer Section -->
  <footer class="footer">
    <p class="copy">© 2024 Shubham Tomar. All rights reserved.</p>
  </footer>
</body>
</html>
